<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="topo">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Sobre</a>
                </nav>
        </div>
        <div class="content">
            <section>
                <article>
                    <h2><a href="#">Titulo da minha postagem</a></h2>
                    <p>Conteudo da postagem</p>
                </article>
            </section>
            <section>
                <article>
                    <h2>Titulo da minha postagem</h2>
                    <p>Conteudo da postagem</p>
                </article>
            </section>

        </div>  
    </header>

    </div>
</body>
</html>