<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-tRzMbI30sJLmE1R5zOpmiOWPHUPd5+c2oFh2jJQ48EC9a/N5uAsC4WRg+ojM8HwF" crossorigin="anonymous">

  <title>{{title}}</title>
</head>
<body>
{{content}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fz6pgOBWTyz3x4gJwstZhAByIzAroV+8AsO1ldSukkybQ6l3tnxUoD/0WugtxiNb" crossorigin="anonymous"></script>
</body>
</html>
